<main>
  <section class="h-96 flex justify-around items-center gap-10 bg-main-color">
    <div class="text-white text-center">
      <p class="font-semibold text-3xl py-5">
        Surver Rails App
      </p>
      <p>
        Create your first survey.
      </p>
      <p>
        Start sending suverys to different companies around the world.
      </p>
      <div class="py-5 text-black">
        <%= button_to root_path, id: 'get_started' do %>
          <div class="bg-signIn p-4 rounded-lg">
            <i class="fa-solid fa-circle-arrow-right"></i>
            <span class="ml-1">
              Get Started.
            </span>
          </div>
        <% end %>
      </div>
      <p class="text-sm font-semibold">
        surver-rails-app.com
      </p>
    </div>
    <div>
      <%= image_tag 'ruby', width: 300 %>
    </div>
  </section>

  <section>
    <div class="flex justify-around p-10">
      <%= image_tag 'amazon', width: 150 %>
      <%= image_tag 'facebook', width: 150 %>
      <%= image_tag 'google', width: 150 %>
      <%= image_tag 'instagram', width: 150 %>
      <%= image_tag 'linkedIn', width: 150 %>
      <%= image_tag 'spotify', width: 150 %>
      <%= image_tag 'twitter', width: 150 %>
    </div>
    <p class="text-center text-sm font-semibold text-main-color p-10">
      Culpa deserunt non culpa velit consectetur proident voluptate est magna enim labore pariatur. Ullamco ullamco amet qui irure duis minim aliquip mollit incididunt nulla exercitation eiusmod voluptate. Consectetur pariatur et dolor laborum. Labore ullamco voluptate nostrud cillum occaecat elit. Do velit enim pariatur id adipisicing cillum amet officia nostrud duis esse duis. Qui reprehenderit laborum aliqua non labore dolor. Et non incididunt pariatur amet officia voluptate eu sit.
    </p>
  </section>

  <div class="text-center text-sm text-semibold border-2">
    ---
  </div>

  <section class="h-96 flex justify-around items-center">
    <div>
      <%= image_tag '2126918', width: 350 %>
    </div>
    <div>
      <h2 class="font-semibold text-center text-main-color text-2xl pb-5">Working with your team!</h2>
      <p class="text-sm text-center text-main-color text-semibold">
        Ullamco excepteur et nisi sint nisi ad dolor id. Velit <br>
        sit laboris cillum officia esse aliquip. <br>
        Magna amet ad quis consectetur laboris veniam. <br>
        Voluptate veniam adipisicing est ipsum minim <br>
        laboris consectetur culpa eu cupidatat.
      </p>
    </div>
  </section>

  <div class="text-center text-sm text-semibold border-2">
    ---
  </div>

  <section class="h-96 flex justify-around items-center">
    <div>
      <h2 class="font-semibold text-center text-main-color text-2xl pb-5">Answer the survey!</h2>
      <p class="text-sm text-center text-main-color text-semibold">
        Ullamco excepteur et nisi sint nisi ad dolor id. Velit <br>
        sit laboris cillum officia esse aliquip. <br>
        Magna amet ad quis consectetur laboris veniam. <br>
        Voluptate veniam adipisicing est ipsum minim <br>
        laboris consectetur culpa eu cupidatat.
      </p>
    </div>
    <div>
      <%= image_tag '4048544', width: 350 %>
    </div>
  </section>

  <div class="text-center text-sm text-semibold border-2">
    ---
  </div>

  <section class="h-96 flex flex-col justify-around items-center m-32">
    <div>
      <h2 class="font-semibold text-center text-main-color text-2xl pb-5">Answer the survey!</h2>
    </div>

    <div class="flex py-10 w-3/6 justify-between">
      <%= image_tag '2978479', width: 320 %>
      <%= image_tag 'check_box_image', width: 250 %>
    </div>

    <div>
      <p class="text-sm text-center text-main-color text-semibold">
        Ullamco excepteur et nisi sint nisi ad dolor id. Velit
        sit laboris cillum officia esse aliquip.
        Magna amet ad quis consectetur laboris veniam.
        Voluptate veniam adipisicing est ipsum minim
        laboris consectetur culpa eu cupidatat.
      </p>
    </div>
  </section>

  <div class="text-center text-sm text-semibold border-2">
    ---
  </div>

  <section class="h-96 flex flex-col justify-around items-center m-32">
    <div>
      <h2 class="text-center text-2xl font-semibold text-main-color pb-5">It makes it easier!</h2>
    </div>
    <div class="flex py-10">
      <%= image_tag 'posting_image' %>
    </div>
    <div>
      <p class="text-sm text-center text-main-color text-semibold">
        Ea cupidatat qui enim voluptate ullamco. Nisi sint magna deserunt aliqua. Et consequat consequat consectetur eiusmod veniam in in. Veniam proident elit nostrud in aute voluptate nulla amet consequat amet adipisicing.
      </p>
    </div>
  </section>
</main>
