<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  </head>
  <body>
    <h1><%= @survey.name %></h1>
    <hr>
    <p>
      Hello, <strong><%= @email %></strong>
      You've been invited to answer this survey.
    </p>
    <p>
      <%= @message %>
    </p>
    <p>
      Please, click on the link: <a href="<%= @url %>"><%= @survey.name %></a>
    </p>
  </body>
</html>
